@import '../base/vars.scss';
@import '../modules/mode.scss';

/*******************************************************
	* - V1
*******************************************************/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	font-family: 'Helvetica', 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
}

/*******************************************************
	Link - V5
*******************************************************/

a {		
	border: none;
	outline: none;

	color: none;
	text-decoration: none;

	cursor: pointer;

    &:link, :active, :visited, :hover, :focus {
        border: none;
        outline: none;
    
        color: none;
        text-decoration: none;
    }

}

/*******************************************************
	Input - V3
*******************************************************/

input {
	border: none;
	outline: none;

    &:focus {
        outline: none;
    }

    &:-webkit-autofill {
        transition: color 9999s ease-out, background-color 9999s ease-out;
        transition-delay: 9999s;
        -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
        -webkit-transition-delay: 9999s;

        &:hover, &:focus, &:active {
            transition: color 9999s ease-out, background-color 9999s ease-out;
            transition-delay: 9999s;
            -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
            -webkit-transition-delay: 9999s;
        }
        
    }

}

select {

    &:focus {
        outline: none;
    }

}

/*******************************************************
	Image - V2
*******************************************************/

img {
	width: 100%;
	height: auto;
    vertical-align: top;

    font-size: 16px;
}

/*******************************************************
	Text - V3
*******************************************************/

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;

	font-weight: normal;
}

/*******************************************************
	List - V1
*******************************************************/

ul, li {
    padding: 0;
    margin: 0;

    list-style: none;
}

/*******************************************************
	Button - V1
*******************************************************/

button {
	border: none;

    &:hover, &:focus {
        outline: none;
    }

}


/*******************************************************
	Elements
*******************************************************/

html, body, header, main, footer, section,
#root, #windowWrapper, #wrapper,
#headerContainer, #windowContainer, #mainContainer, #footerContainer, .sectionContainer {
    width: 100%;

    transition: #{$transition-theme};
}

.scroll {
    overflow: overlay !important;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 6px; 
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: rgba(0,0,0,0.4); 

        &:hover {
            background: rgba(0,0,0,0.6); 
        }

    }

}